html,body {
	height: 100%;
}

ul#flex-container {
	list-style: none;
	margin:0;
	padding: 0;
	display: flex;/*This property has to be in their parent element*/
	flex-direction:row; /*By default is row. Parameters available : row, row-reverse, column , column-reverse*/
	flex-wrap: wrap; /*By default is nowrap. Control to stay the same line or not based on the viewport*/
	height: 300px;
	align-items: stretch;/*Same than justify-content but vertically. Stretch will take height of the parent */
}

ul li {
	width: 100px;
	padding-top: 45px;
	color: #fff;
	font-weight: bold;
	font-size: 2,2em;
	text-align: center;
}


ul li:first-child { background: #c2d775; }
ul li:nth-child(2) { background: #007278; align-self: flex-start; }
ul li:nth-child(3) { background: #c7b600; }
ul li:nth-child(4) { background: #a90077; align-self: flex-end; }
ul li:nth-child(5) { background: #00a378; }
ul li:last-child { background: #00ea72;  }